API_KEY=your_api_key_here

# Azure Env
AZURE_RESOURCE_GROUP=rg-myproject
AZURE_CREDENTIALS={
    "clientId": "your_client_id_here",
    "clientSecret": "your_client_secret_here",
    "subscriptionId": "your_subscription_id_here",
    "tenantId": "your_tenant_id_here"
}


# ACR Credentials
ACR_LOGIN_SERVER=myprojectacr.azurecr.io
ACR_USERNAME=acr_username_here
ACR_PASSWORD=acr_password_here

# Web App Name
AZURE_WEBAPP_NAME=my-webapp-name
