API_KEY=your_api_key_here

## Put in Github secrets
# ---------------------------------------------------------------------------------
SAFETY_API_KEY=your_safety_api_key_here

# Azure Env
# ACR Credentials
ACR_LOGIN_SERVER=myprojectacr.azurecr.io
ACR_USERNAME=acr_username_here
ACR_PASSWORD=acr_password_here

AZURE_RESOURCE_GROUP=rg-myproject
AZURE_CREDENTIALS={"clientId":"your_client_id_here","clientSecret":"your_client_secret_here","subscriptionId":"your_subscription_id_here","tenantId":"your_tenant_id_here"}
# For github secrets, use the following format:
# AZURE_CREDENTIALS={
#     "clientId": "your_client_id_here",
#     "clientSecret": "your_client_secret_here",
#     "subscriptionId": "your_subscription_id_here",
#     "tenantId": "your_tenant_id_here"
# }
# Web App Name
AZURE_WEBAPP_NAME_STREAMLIT=my-webapp-name-streamlit
AZURE_WEBAPP_NAME_FASTAPI=my-webapp-name-fastapi
# ---------------------------------------------------------------------------------

# FastAPI
FASTAPI_KEY=password123
